{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenAPI definition",
    "version": "v0"
  },
  "servers": [
    {
      "url": "https://savetuba.it2-server.com",
      "description": "Generated server url"
    }
  ],
  "tags": [
    {
      "name": "Admin: Superuser School Management",
      "description": "Endpoints for Super Administrators (SAVETUBA_ADMIN) to manage all schools."
    },
    {
      "name": "Curriculum",
      "description": "Curriculum management endpoints"
    },
    {
      "name": "Classrooms",
      "description": "Endpoints for creating, joining, and managing classrooms."
    },
    {
      "name": "Leaderboard",
      "description": "Student leaderboard endpoints"
    },
    {
      "name": "Admin: School Management",
      "description": "Endpoints for School Administrators to manage their own school."
    },
    {
      "name": "User Profile",
      "description": "Endpoints for managing the current user's profile."
    },
    {
      "name": "Badges",
      "description": "Endpoints for viewing user badges and progress."
    },
    {
      "name": "Assignments",
      "description": "Assignment management endpoints"
    },
    {
      "name": "Languages",
      "description": "Language management endpoints"
    },
    {
      "name": "Authentication",
      "description": "Endpoints for user registration, login, logout, and token management."
    }
  ],
  "paths": {
    "/api/v1/schools/{id}": {
      "get": {
        "tags": ["Admin: Superuser School Management"],
        "summary": "Get a school by ID",
        "description": "Retrieves the details of a specific school by its unique ID.",
        "operationId": "getSchoolById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved school details.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SchoolResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden if the user is not a SAVETUBA_ADMIN.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SchoolResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found if the school ID does not exist.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SchoolResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": ["Admin: Superuser School Management"],
        "summary": "Update a school",
        "description": "Updates a school's details, such as name, address, or active status.",
        "operationId": "updateSchool",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSchoolRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "School updated successfully.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SchoolResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden if the user is not a SAVETUBA_ADMIN.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SchoolResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found if the school ID does not exist.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SchoolResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict if the new school name already exists.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SchoolResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": ["Admin: Superuser School Management"],
        "summary": "Delete a school",
        "description": "Permanently deletes a school. This operation will fail if the school has any associated users.",
        "operationId": "deleteSchool",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "School deleted successfully."
          },
          "403": {
            "description": "Forbidden if the user is not a SAVETUBA_ADMIN."
          },
          "404": {
            "description": "Not Found if the school ID does not exist."
          },
          "409": {
            "description": "Conflict if the school cannot be deleted due to associated users."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/profile/picture": {
      "put": {
        "tags": ["User Profile"],
        "summary": "Update profile picture",
        "description": "Uploads a new profile picture for the current user. Accepts multipart/form-data. The old picture, if it exists, will be deleted. Returns a short-lived presigned URL to the new avatar.",
        "operationId": "updateProfilePicture",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": ["file"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile picture updated successfully.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ProfilePictureResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request if the file is invalid (e.g., wrong format, too large).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ProfilePictureResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/profile/password": {
      "put": {
        "tags": ["User Profile"],
        "summary": "Change password",
        "description": "Changes the password for the currently authenticated user. All active sessions (refresh tokens) will be invalidated.",
        "operationId": "changePassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangePasswordRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Password changed successfully."
          },
          "400": {
            "description": "Bad Request if the current password is incorrect or the new password is the same as the old one."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/profile/me": {
      "get": {
        "tags": ["User Profile"],
        "summary": "Get my profile",
        "description": "Retrieves the profile information for the currently authenticated user.",
        "operationId": "getMyProfile",
        "responses": {
          "200": {
            "description": "Successfully retrieved profile data.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": ["User Profile"],
        "summary": "Update my profile",
        "description": "Updates the first name and last name of the currently authenticated user.",
        "operationId": "updateMyProfile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProfileRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Profile updated successfully.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request if validation on name fields fails.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": ["User Profile"],
        "summary": "Delete my account",
        "description": "Permanently anonymizes and deactivates the current user's account. This action is irreversible and requires password confirmation.",
        "operationId": "deleteAccount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteAccountRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Account deleted successfully."
          },
          "400": {
            "description": "Bad Request if the provided password is incorrect."
          },
          "403": {
            "description": "Forbidden for certain roles like SAVETUBA_ADMIN or School Admins who still manage a school."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/curriculum/lessons/{lessonId}": {
      "get": {
        "tags": ["Curriculum"],
        "summary": "Get lesson details by ID",
        "description": "Returns lesson info with activities. Activities don't include content.",
        "operationId": "getLessonById",
        "parameters": [
          {
            "name": "lessonId",
            "in": "path",
            "description": "Lesson ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language code (en, kk, ru)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/LessonWithActivitiesResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Curriculum"],
        "summary": "Update an existing lesson with an optional thumbnail file",
        "description": "Updates lesson fields. Uses multipart/form-data. One part named 'request' contains the JSON data. Another optional part named 'file' contains the new thumbnail image.",
        "operationId": "updateLesson",
        "parameters": [
          {
            "name": "lessonId",
            "in": "path",
            "description": "Lesson ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "request": {
                    "$ref": "#/components/schemas/UpdateLessonRequest"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "New thumbnail file for the lesson (optional)"
                  }
                },
                "required": ["request"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseObject"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Curriculum"],
        "summary": "Delete a lesson",
        "operationId": "deleteLesson",
        "parameters": [
          {
            "name": "lessonId",
            "in": "path",
            "description": "Lesson ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/curriculum/grades/{gradeId}": {
      "get": {
        "tags": ["Curriculum"],
        "summary": "Get grade level details with paginated chapters",
        "description": "Returns grade level info with paginated chapters. Chapters don't include lessons. The 'isLastPage' field indicates if there are more chapters to load.",
        "operationId": "getGradeLevel",
        "parameters": [
          {
            "name": "gradeId",
            "in": "path",
            "description": "Grade Level ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language code (en, kk, ru)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (0-based)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Page size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort direction (asc or desc)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GradeLevelDetailSwaggerResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Curriculum"],
        "summary": "Update an existing grade level",
        "description": "Updates grade level fields. If translations are updated, returns multi-language response with all updated translations.",
        "operationId": "updateGradeLevel",
        "parameters": [
          {
            "name": "gradeId",
            "in": "path",
            "description": "Grade Level ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateGradeLevelRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseObject"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Curriculum"],
        "summary": "Delete a grade level",
        "operationId": "deleteGradeLevel",
        "parameters": [
          {
            "name": "gradeId",
            "in": "path",
            "description": "Grade Level ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/curriculum/chapters/{chapterId}": {
      "get": {
        "tags": ["Curriculum"],
        "summary": "Get chapter details with paginated lessons",
        "description": "Returns chapter info with paginated lessons. Lessons don't include activities. The 'isLastPage' field indicates if there are more lessons to load.",
        "operationId": "getChapter",
        "parameters": [
          {
            "name": "chapterId",
            "in": "path",
            "description": "Chapter ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "exclusiveMinimum": 0
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language code (en, kk, ru)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (0-based)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Page size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort direction (asc or desc)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ChapterWithLessonsResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Curriculum"],
        "summary": "Update an existing chapter with an optional icon file",
        "description": "Updates chapter fields. Uses multipart/form-data. One part named 'request' contains the JSON data. Another optional part named 'file' contains the new icon image.",
        "operationId": "updateChapter",
        "parameters": [
          {
            "name": "chapterId",
            "in": "path",
            "description": "Chapter ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "request": {
                    "$ref": "#/components/schemas/UpdateChapterRequest"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "New icon file for the chapter (optional)"
                  }
                },
                "required": ["request"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseObject"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Curriculum"],
        "summary": "Delete a chapter",
        "operationId": "deleteChapter",
        "parameters": [
          {
            "name": "chapterId",
            "in": "path",
            "description": "Chapter ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/curriculum/activities/{activityId}": {
      "get": {
        "tags": ["Curriculum"],
        "summary": "Get activity details",
        "description": "Returns activity info with content.",
        "operationId": "getActivity",
        "parameters": [
          {
            "name": "activityId",
            "in": "path",
            "description": "Activity ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language code (en, kk, ru)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityWithContentResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Curriculum"],
        "summary": "Update an existing activity with an optional icon file",
        "description": "Updates activity fields. Uses multipart/form-data. One part named 'request' contains the JSON data. Another optional part named 'file' contains the new icon image.",
        "operationId": "updateActivity",
        "parameters": [
          {
            "name": "activityId",
            "in": "path",
            "description": "Activity ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "request": {
                    "$ref": "#/components/schemas/UpdateActivityRequest"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "New icon file for the activity (optional)"
                  }
                },
                "required": ["request"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseActivityResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Curriculum"],
        "summary": "Delete an activity",
        "operationId": "deleteActivity",
        "parameters": [
          {
            "name": "activityId",
            "in": "path",
            "description": "Activity ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/curriculum/activities/{activityId}/content/submission-based": {
      "put": {
        "tags": ["Curriculum"],
        "summary": "Set/Update content for submission-based activities",
        "description": "Updates the content (title, prompt, and image) for Snapshot, Image Boom, or Mastery activities. Uses multipart/form-data.",
        "operationId": "setSubmissionBasedContent",
        "parameters": [
          {
            "name": "activityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "request": {
                    "$ref": "#/components/schemas/SubmissionBasedContentRequest"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "New image file for the activity (optional)"
                  }
                },
                "required": ["request"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/curriculum/activities/{activityId}/content/sorting": {
      "put": {
        "tags": ["Curriculum"],
        "summary": "Set/Update Sorting content for an activity",
        "description": "Replaces the entire sorting content for the specified activity.",
        "operationId": "setSortingContent",
        "parameters": [
          {
            "name": "activityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SortingContentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/curriculum/activities/{activityId}/content/reorder": {
      "put": {
        "tags": ["Curriculum"],
        "summary": "Set/Update Reorder content for an activity",
        "description": "Replaces the entire reorder content for the specified activity.",
        "operationId": "setReorderContent",
        "parameters": [
          {
            "name": "activityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReorderContentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/curriculum/activities/{activityId}/content/quiz": {
      "put": {
        "tags": ["Curriculum"],
        "summary": "Set/Update Quiz content for an activity",
        "description": "Replaces the entire quiz content for the specified activity.",
        "operationId": "setQuizContent",
        "parameters": [
          {
            "name": "activityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuizContentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/curriculum/activities/{activityId}/content/memory": {
      "put": {
        "tags": ["Curriculum"],
        "summary": "Set/Update Memory Game content for an activity",
        "description": "Replaces the entire memory game content for the specified activity.",
        "operationId": "setMemoryContent",
        "parameters": [
          {
            "name": "activityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemoryContentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/classrooms/{id}": {
      "get": {
        "tags": ["Classrooms"],
        "summary": "Get classroom details by ID",
        "description": "Retrieves detailed information about a specific classroom, including lists of teachers and students. The current user must be a member of the classroom.",
        "operationId": "getClassroomDetails",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved classroom details.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ClassroomResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden if the user is not a member of the classroom.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ClassroomResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found if the classroom ID does not exist.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ClassroomResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": ["Classrooms"],
        "summary": "Update classroom details",
        "description": "Allows a TEACHER who is a member of the classroom to update its name and description.",
        "operationId": "updateClassroom",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateClassroomRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Classroom updated successfully.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ClassroomResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden if the user is not a teacher in this classroom.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ClassroomResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found if the classroom ID does not exist.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ClassroomResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": ["Classrooms"],
        "summary": "Archive a classroom",
        "description": "Allows a TEACHER to archive their classroom. The classroom will no longer be active or visible to students.",
        "operationId": "archiveClassroom",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Classroom archived successfully."
          },
          "403": {
            "description": "Forbidden if the user is not a teacher in this classroom."
          },
          "404": {
            "description": "Not Found if the classroom ID does not exist."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/assignments/{assignmentId}": {
      "get": {
        "tags": ["Assignments"],
        "summary": "Get assignment details",
        "description": "Get detailed information about an assignment",
        "operationId": "getAssignment",
        "parameters": [
          {
            "name": "assignmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseAssignmentResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Assignments"],
        "summary": "Update an assignment",
        "description": "Teacher updates an existing assignment",
        "operationId": "updateAssignment",
        "parameters": [
          {
            "name": "assignmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAssignmentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseAssignmentResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Assignments"],
        "summary": "Delete an assignment",
        "description": "Teacher archives an assignment",
        "operationId": "deleteAssignment",
        "parameters": [
          {
            "name": "assignmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/schools": {
      "get": {
        "tags": ["Admin: Superuser School Management"],
        "summary": "Get all schools",
        "description": "Retrieves a paginated list of all schools in the system.",
        "operationId": "getAllSchools",
        "parameters": [
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of schools.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageSchoolResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden if the user is not a SAVETUBA_ADMIN.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageSchoolResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": ["Admin: Superuser School Management"],
        "summary": "Create a new school",
        "description": "Creates a new school in the system.",
        "operationId": "createSchool",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSchoolRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "School created successfully.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SchoolResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request if validation fails.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SchoolResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden if the user is not a SAVETUBA_ADMIN.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SchoolResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict if a school with the same name already exists.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SchoolResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/schools/{schoolId}/admin/{userId}": {
      "post": {
        "tags": ["Admin: Superuser School Management"],
        "summary": "Assign a user as a School Administrator",
        "description": "Assigns an existing user with the 'ADMIN' role to be the administrator of a specific school.",
        "operationId": "assignAdmin",
        "parameters": [
          {
            "name": "schoolId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Admin assigned successfully.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SchoolResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request if the user does not have the ADMIN role.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SchoolResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden if the user is not a SAVETUBA_ADMIN.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SchoolResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found if the school or user ID does not exist.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SchoolResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict if the school already has an admin or the user is already an admin of another school.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SchoolResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/schools/{schoolId}/admin-invite": {
      "post": {
        "tags": ["Admin: Superuser School Management"],
        "summary": "Create an invitation for a School Administrator",
        "description": "Generates a single-use invitation link for a new user to register as an administrator for a specific school.",
        "operationId": "createAdminInvite",
        "parameters": [
          {
            "name": "schoolId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invitation created successfully.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/InviteResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden if the user is not a SAVETUBA_ADMIN.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/InviteResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found if the school ID does not exist.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/InviteResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict if the school already has an administrator.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/InviteResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/curriculum/lessons": {
      "post": {
        "tags": ["Curriculum"],
        "summary": "Create a new lesson with an optional thumbnail file",
        "description": "Creates a new lesson. Uses multipart/form-data. One part named 'request' contains the JSON data. Another optional part named 'file' contains the thumbnail image.",
        "operationId": "createLesson",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "request": {
                    "$ref": "#/components/schemas/CreateLessonRequest"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Thumbnail file for the lesson (optional)"
                  }
                },
                "required": ["request"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Lesson created successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MultiLanguageLessonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/curriculum/grades": {
      "get": {
        "tags": ["Curriculum"],
        "summary": "Get all active grade levels with pagination",
        "description": "Returns a simplified paginated list of grade levels. Response contains only 'content' array and 'isLastPage' boolean. Parameters (page, size, sort) are not echoed back in response.",
        "operationId": "getGradeLevels",
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "description": "Language code (en, kk, ru)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (0-based)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Page size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort direction (asc or desc)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseSimplePaginatedResponseGradeLevelResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Curriculum"],
        "summary": "Create a new grade level",
        "description": "Creates a new grade level. Returns grade level info with all created language translations, with createdAt but without updatedAt timestamp.",
        "operationId": "createGradeLevel",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGradeLevelRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Grade level created successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MultiLanguageGradeLevelResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/curriculum/chapters": {
      "post": {
        "tags": ["Curriculum"],
        "summary": "Create a new chapter with an optional icon file",
        "description": "Creates a new chapter. Uses multipart/form-data. One part named 'request' contains the JSON data. Another optional part named 'file' contains the icon image.",
        "operationId": "createChapter",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "request": {
                    "$ref": "#/components/schemas/CreateChapterRequest"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Icon file for the chapter (optional)"
                  }
                },
                "required": ["request"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Chapter created successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MultiLanguageChapterResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/curriculum/assets": {
      "post": {
        "tags": ["Curriculum"],
        "summary": "Upload a media asset for content",
        "description": "Uploads a single image or audio file and returns its identifier (object name) to be used in content creation.",
        "operationId": "uploadAsset",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": ["file"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseAssetUploadResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/curriculum/activities": {
      "post": {
        "tags": ["Curriculum"],
        "summary": "Create a new activity with an optional icon file",
        "description": "Creates a new activity. Uses multipart/form-data. One part named 'request' contains the JSON data. Another optional part named 'file' contains the icon image.",
        "operationId": "createActivity",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "request": {
                    "$ref": "#/components/schemas/CreateActivityRequest"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Icon file for the activity (optional)"
                  }
                },
                "required": ["request"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseActivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/classrooms": {
      "post": {
        "tags": ["Classrooms"],
        "summary": "Create a new classroom",
        "description": "Allows a TEACHER to create a new classroom. The classroom is automatically associated with the teacher's school.",
        "operationId": "createClassroom",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClassroomRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Classroom created successfully.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ClassroomSummaryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request if validation fails or grade level is not found.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ClassroomSummaryResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden if the user is not a TEACHER.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ClassroomSummaryResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/classrooms/{classroomId}/transfer/{newTeacherId}": {
      "post": {
        "tags": ["Classrooms"],
        "summary": "Transfer classroom ownership",
        "description": "Allows a TEACHER to transfer ownership of their classroom to another teacher within the same school.",
        "operationId": "transferClassroomOwnership",
        "parameters": [
          {
            "name": "classroomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "newTeacherId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Classroom transferred successfully.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ClassroomResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request if the new teacher is invalid (not a teacher, not in the same school).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ClassroomResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden if the current user is not the owner of the classroom.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ClassroomResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found if the classroom or new teacher does not exist.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ClassroomResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/classrooms/{classroomCode}/join": {
      "post": {
        "tags": ["Classrooms"],
        "summary": "Join a classroom with a code",
        "description": "Allows a STUDENT to join an existing, active classroom using its unique code.",
        "operationId": "joinClassroom",
        "parameters": [
          {
            "name": "classroomCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully joined the classroom.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ClassroomSummaryResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden if the user is not a STUDENT.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ClassroomSummaryResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found if no active classroom matches the provided code.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ClassroomSummaryResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict if the student is already a member of the classroom.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ClassroomSummaryResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/classrooms/{classId}/leave": {
      "post": {
        "tags": ["Classrooms"],
        "summary": "Leave a classroom",
        "description": "Allows a STUDENT to leave a classroom they have joined.",
        "operationId": "leaveClassroom",
        "parameters": [
          {
            "name": "classId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully left the classroom."
          },
          "403": {
            "description": "Forbidden if the user is not a STUDENT."
          },
          "404": {
            "description": "Not Found if the student is not enrolled in the specified classroom."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/auth/register": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Register a new user",
        "description": "Registers a new user. Public registration defaults to the 'STUDENT' role. If a valid 'inviteToken' is provided, the user is assigned a role and school based on the invitation.",
        "operationId": "register",
        "parameters": [
          {
            "name": "inviteToken",
            "in": "query",
            "description": "An optional invitation token for registering with a specific role (e.g., TEACHER or ADMIN).",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "User registered successfully. Returns an access token and sets a refresh token in an httpOnly cookie.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request if validation fails.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found if the inviteToken is invalid or expired.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict if a user with the provided email already exists.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/refresh": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Refresh access token",
        "description": "Uses the httpOnly 'refreshToken' cookie to generate a new access token and a new refresh token (token rotation).",
        "operationId": "refreshToken",
        "responses": {
          "200": {
            "description": "Access token refreshed successfully.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized if the refresh token is missing, invalid, or expired.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/oauth2/{provider}": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Log in or register with an OAuth2 provider",
        "description": "Handles authentication using an OAuth2 provider like Google. If the user does not exist, a new user with the 'STUDENT' role is created.",
        "operationId": "oauth2Login",
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "description": "The name of the OAuth2 provider (e.g., 'google').",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "google"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OAuth2LoginRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OAuth2 login successful.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request if the provider is unsupported or the token is invalid.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/logout": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Log out a user",
        "description": "Invalidates the current session's refresh token from the server and clears the httpOnly cookie.",
        "operationId": "logout",
        "responses": {
          "204": {
            "description": "User logged out successfully."
          }
        }
      }
    },
    "/api/v1/auth/login": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Log in a user",
        "description": "Authenticates a user with email and password. On success, returns an access token and sets a refresh token in an httpOnly cookie.",
        "operationId": "login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Login successful.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized if credentials are invalid.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/guest": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Get a guest access token",
        "description": "Generates a short-lived access token for an anonymous guest user.",
        "operationId": "guestLogin",
        "responses": {
          "200": {
            "description": "Guest token generated successfully.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/guest/refresh": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Refresh a guest access token",
        "description": "Refreshes an expired guest token to get a new one. The provided token must be an expired guest token.",
        "operationId": "refreshGuestToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GuestTokenRefreshRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Guest token refreshed successfully.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request if the token is not a valid, expired guest token.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/assignments": {
      "post": {
        "tags": ["Assignments"],
        "summary": "Create a new assignment",
        "description": "Teacher creates an assignment for a classroom",
        "operationId": "createAssignment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAssignmentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseAssignmentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/assignments/{assignmentId}/submit-answer": {
      "post": {
        "tags": ["Assignments"],
        "summary": "Submit answer for activity",
        "description": "Student submits answer for a specific activity within an assignment.",
        "operationId": "submitAnswer",
        "parameters": [
          {
            "name": "assignmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitActivityAnswerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseSubmitAnswerResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/assignments/{assignmentId}/review-submission": {
      "post": {
        "tags": ["Assignments"],
        "summary": "Review submission",
        "description": "Teacher reviews a submission (approve/reject/reset)",
        "operationId": "reviewSubmission",
        "parameters": [
          {
            "name": "assignmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmissionReviewRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseSubmissionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/my-school/teacher-invite": {
      "post": {
        "tags": ["Admin: School Management"],
        "summary": "Create a teacher invitation link",
        "description": "Generates a single-use invitation link for a new teacher to register and automatically join the admin's school.",
        "operationId": "createTeacherInvite",
        "responses": {
          "200": {
            "description": "Successfully created the invitation link.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/InviteResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden if the user is not a School Administrator.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/InviteResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/admin/classrooms/{classroomId}/assign-teacher/{teacherId}": {
      "post": {
        "tags": ["Admin: School Management"],
        "summary": "Assign a teacher to a classroom",
        "description": "Assigns a teacher to a classroom within the admin's school. The classroom must not have a teacher currently assigned.",
        "operationId": "assignTeacher",
        "parameters": [
          {
            "name": "classroomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "teacherId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Teacher assigned successfully.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ClassroomResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request if the classroom already has a teacher or the user is not a valid teacher for this school.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ClassroomResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found if classroom or teacher ID is incorrect.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ClassroomResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/schools/{schoolId}/teachers": {
      "get": {
        "tags": ["Admin: Superuser School Management"],
        "summary": "Get all teachers in a school",
        "description": "Retrieves a paginated list of all teachers for a specific school by its ID.",
        "operationId": "getSchoolTeachers",
        "parameters": [
          {
            "name": "schoolId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of teachers.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageUserSummaryResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found if the school ID does not exist.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageUserSummaryResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/schools/{schoolId}/classrooms": {
      "get": {
        "tags": ["Admin: Superuser School Management"],
        "summary": "Get all classrooms in a school",
        "description": "Retrieves a paginated list of all active classrooms for a specific school by its ID.",
        "operationId": "getSchoolClassrooms",
        "parameters": [
          {
            "name": "schoolId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of classrooms.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageClassroomSummaryResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found if the school ID does not exist.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageClassroomSummaryResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/schools/{schoolId}/admin": {
      "get": {
        "tags": ["Admin: Superuser School Management"],
        "summary": "Get the administrator of a school",
        "description": "Retrieves the details of the School Administrator for a specific school by its ID.",
        "operationId": "getSchoolAdmin",
        "parameters": [
          {
            "name": "schoolId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the school administrator.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserSummaryResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found if the school ID or its administrator does not exist.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserSummaryResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": ["Admin: Superuser School Management"],
        "summary": "Unassign an administrator from a school",
        "description": "Removes the administrator role from the user currently managing the school.",
        "operationId": "unassignAdmin",
        "parameters": [
          {
            "name": "schoolId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Admin unassigned successfully.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SchoolResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden if the user is not a SAVETUBA_ADMIN.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SchoolResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found if the school ID does not exist.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SchoolResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/leaderboard/global": {
      "get": {
        "tags": ["Leaderboard"],
        "summary": "Get global leaderboard",
        "description": "Returns top students across all classrooms",
        "operationId": "getGlobalLeaderboard",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number (0-based)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Page size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseLeaderboardResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/leaderboard/classroom/{classroomId}": {
      "get": {
        "tags": ["Leaderboard"],
        "summary": "Get classroom leaderboard",
        "description": "Returns ranked list of students in a classroom by experience points",
        "operationId": "getClassroomLeaderboard",
        "parameters": [
          {
            "name": "classroomId",
            "in": "path",
            "description": "Classroom ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (0-based)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Page size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "topN",
            "in": "query",
            "description": "Include only top N students (optional)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseLeaderboardResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/leaderboard/classroom/{classroomId}/student/{studentId}": {
      "get": {
        "tags": ["Leaderboard"],
        "summary": "Get student position in classroom",
        "description": "Returns specific student's position in classroom leaderboard",
        "operationId": "getStudentPosition",
        "parameters": [
          {
            "name": "classroomId",
            "in": "path",
            "description": "Classroom ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "studentId",
            "in": "path",
            "description": "Student ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseStudentEntry"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/languages": {
      "get": {
        "tags": ["Languages"],
        "summary": "Get all languages",
        "operationId": "getLanguages",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseListLanguageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/curriculum/grades/available": {
      "get": {
        "tags": ["Curriculum"],
        "summary": "Get available grade levels for student",
        "description": "Returns grade levels that have active assignments for student",
        "operationId": "getAvailableGrades",
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "description": "Language code (en, kk, ru)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseListGradeLevelResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/curriculum/activity-types": {
      "get": {
        "tags": ["Curriculum"],
        "summary": "Get all activity types",
        "operationId": "getActivityTypes",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseListString"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/classrooms/my-classrooms": {
      "get": {
        "tags": ["Classrooms"],
        "summary": "Get my classrooms (for Teachers)",
        "description": "Retrieves a paginated list of classrooms for the currently authenticated TEACHER.",
        "operationId": "getMyClassroomsForTeacher",
        "parameters": [
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved classrooms.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageClassroomSummaryResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden if the user is not a TEACHER.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageClassroomSummaryResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/classrooms/my-classroom": {
      "get": {
        "tags": ["Classrooms"],
        "summary": "Get my classroom (for Students)",
        "description": "Retrieves the single classroom for the currently authenticated STUDENT.",
        "operationId": "getMyClassroomForStudent",
        "responses": {
          "200": {
            "description": "Successfully retrieved the classroom.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ClassroomSummaryResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden if the user is not a STUDENT.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ClassroomSummaryResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found if the student is not enrolled in any classroom.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ClassroomSummaryResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/badges/my": {
      "get": {
        "tags": ["Badges"],
        "summary": "Get my badges and progress",
        "description": "Retrieves a list of all badges for the currently authenticated STUDENT. The list is split into two parts: unlocked badges (already earned) and locked badges (not yet earned), including the student's current progress towards them.",
        "operationId": "getMyBadges",
        "responses": {
          "200": {
            "description": "Successfully retrieved badge information.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserBadgeProgressResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden if the user is not a STUDENT.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserBadgeProgressResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/assignments/{assignmentId}/submissions": {
      "get": {
        "tags": ["Assignments"],
        "summary": "Get submissions for review",
        "description": "Teacher gets submission-based answers for review",
        "operationId": "getSubmissionsForReview",
        "parameters": [
          {
            "name": "assignmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponsePageSubmissionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/assignments/{assignmentId}/submissions/{answerId}": {
      "get": {
        "tags": ["Assignments"],
        "summary": "Get submission details",
        "description": "Teacher gets detailed submission information",
        "operationId": "getSubmissionDetails",
        "parameters": [
          {
            "name": "assignmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "answerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseSubmissionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/assignments/{assignmentId}/student/{studentId}/activity/{activityId}/answers": {
      "get": {
        "tags": ["Assignments"],
        "summary": "Get student's answer history for an activity",
        "description": "Teacher gets a specific student's answer history for an activity in an assignment",
        "operationId": "getStudentAnswerHistoryForActivity",
        "parameters": [
          {
            "name": "assignmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "studentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "activityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseListStudentAnswerResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/assignments/{assignmentId}/statistics": {
      "get": {
        "tags": ["Assignments"],
        "summary": "Get assignment statistics",
        "description": "Teacher gets statistics for an assignment",
        "operationId": "getAssignmentStatistics",
        "parameters": [
          {
            "name": "assignmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseAssignmentStatisticsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/assignments/{assignmentId}/progress": {
      "get": {
        "tags": ["Assignments"],
        "summary": "Get assignment progress for all students",
        "description": "Teacher gets progress overview for an assignment",
        "operationId": "getAssignmentProgress",
        "parameters": [
          {
            "name": "assignmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseAssignmentProgressResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/assignments/{assignmentId}/is-expired": {
      "get": {
        "tags": ["Assignments"],
        "summary": "Check if assignment is expired",
        "description": "Check assignment expiration status",
        "operationId": "checkIfExpired",
        "parameters": [
          {
            "name": "assignmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/assignments/{assignmentId}/activity/{activityId}/my-answers": {
      "get": {
        "tags": ["Assignments"],
        "summary": "Get my answer history for an activity",
        "description": "Student gets their answer history for an activity in an assignment",
        "operationId": "getMyAnswerHistoryForActivity",
        "parameters": [
          {
            "name": "assignmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "activityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseListStudentAnswerResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/assignments/my": {
      "get": {
        "tags": ["Assignments"],
        "summary": "Get my assignments",
        "description": "Student gets their assigned tasks",
        "operationId": "getMyAssignments",
        "parameters": [
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponsePageAssignmentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/assignments/my-grouped": {
      "get": {
        "tags": ["Assignments"],
        "summary": "Get my assignments grouped by status",
        "description": "Student gets assignments grouped by status",
        "operationId": "getMyAssignmentsGrouped",
        "responses": {
          "200": {
[...]
